html{
  background: #f0f2f5;
}
.layout{
  margin-top: 50px;
}
.formHeader{
  margin-left : 20%;
}

@media screen and (max-width: 767px){
  .layout{
    width: 100%;
    margin: 10px 0px 0px 0px;
  }
  .formHeader{
    margin-left:5px ;
  }
  h2{
    font-size: 18px;
  }
}